@use 'styles/utils';

.page__inner + .content {
    padding-top: 80px;
}

.content {
    padding: 160px 445px 160px 40px;
    overflow-x: visible;
    background-color: var(--bg-light);

    .container {
        overflow-x: visible;
    }

    .video-block {
        margin-bottom: 80px;
        .container {
            height: 570px;
        }
    }

    h2:first-child,
    h3:first-child,
    h4:first-child,
    p:first-child,
    ol:first-child,
    ul:first-child {
        margin-top: 0;
    }

    h2 {
        margin: 40px 0;
        font: var(--font-header200);
        text-transform: uppercase;
    }

    h3 {
        margin: 80px 0 40px;
        font: var(--font-header300);
        text-transform: uppercase;
    }

    h4 {
        margin: 60px 0 24px;
        font: var(--font-header400);
        text-transform: uppercase;
    }

    img {
        margin: 40px 0 80px;
        max-width: 1195px;
    }
    p {
        margin-bottom: 20px;

        &:has(+ ul),
        &:has(+ ol) {
            margin-bottom: 15px;
        }
    }

    ul li {
        gap: 10px;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            @include utils.square(8px);
            transform: rotate(45deg);
            min-width: 8px;
            background-color: var(--main100);
        }
    }

    ol {
        list-style: none;
        counter-reset: item;
        li {
            gap: 20px;
            display: flex;
            align-items: center;
            counter-increment: item;
            &::before {
                @include utils.square(32px);
                content: '0' counter(item);
                padding: 7px 0;
                width: 1.5em;
                min-width: 32px;
                color: white;
                font: var(--text-base500);
                text-align: center;
                background-color: var(--main100);
            }
        }
    }

    blockquote {
        padding: 30px;
        display: flex;
        align-items: start;
        background-color: white;

        &::before {
            content: '';
            min-width: 20px;
            @include utils.square(20px);
            @include utils.bg-defaults(auto);
            margin-right: 20px;
            background-image: url('../../assets/icons/blockquote.svg');
        }
    }

    ul,
    ol {
        gap: 10px;
        margin: 15px 0 19px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .page__inner + .content {
        padding-top: 40px;
    }
    .content {
        padding: 80px 0;

        h2 {
            margin: 25px 0;
        }

        h3 {
            margin: 60px 0 20px;
        }

        h4 {
            margin: 40px 0 15px;
        }

        img {
            margin: 20px 0 20px -10px;
            min-width: 320px;
            max-width: 320px;
        }

        p {
            margin-bottom: 15px;

            &:has(+ ul),
            &:has(+ ol) {
                margin-bottom: 12px;
            }
        }

        li {
            gap: 8px;
        }

        ol li {
            align-items: start;
        }

        ol,
        ul {
            gap: 8px;
        }

        blockquote {
            padding: 20px;
        }
    }
}
