extends layout/page
include layout/utils
include components/main-hero/main-hero

block append main
    +main-hero({isSlider: false, slides: [{ image: require('assets/content/about.png'), title: 'О компании', description: 'Экспертные решения для перевозки ценностей: от бронированного транспорта до строгой конфиденциальности. Гарантия сохранности и своевременной доставки в любую точку мира'}]})
    +section.content
        h2 3PL провайдер. Склады класса «А»
        p Оно представляет собой процесс создания плана по возведению нежилого объекта. Важный критерий коммерческих зданий – использование их с целью получения прибыли (например, отели, в которых люди временно проживают за плату). Также в объектах коммерческой недвижимости размещаются офисы, магазины, склады, развлекательные заведения (кинотеатры, детские центры).
        p Все нежилые помещения можно разделить на несколько групп с учетом таких видов деятельности, как торговая, производственная, офисная и складская. Назначение объекта во многом определяет и специфику его планирования.
        h3 3PL провайдер. Склады класса «А»
        p В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:
        p В портфеле наших услуг также:
        ul
            li бухгалтерское сопровождение;
            li открытие юр. лица в Казахстане;
            li юридическое сопровождение;
            li подбор персонала от топ-менеджмента до менеджеров среднего звена.
        +img(require('assets/content/about.png'))
        h3 Мы выстраиваем надёжные логистические цепочки
        p В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:
        p В портфеле наших услуг также:
        ul
            li юридическое сопровождение;
            li открытие юр. лица в Казахстане;
            li подбор персонала от топ-менеджмента до менеджеров среднего звена;
            li бухгалтерское сопровождение.
        +img(require('assets/content/about.png'))
        p Планирование производственного объекта – задача повышенной сложности. Это определяется тонкостями процессов, которые предстоит обязательно учитывать при формировании плана. Чтобы он был составлен грамотно, для исключения даже малейших неточностей к его разработке привлекаются технологи отрасли в качестве экспертов.
        h4 Этапы работы:
        p В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан:
        ol
            li Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.
            li Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).
            li Генеральный план – отображается площадь, подлежащая застройке, с нанесенными контурами готовых зданий.
            li Общие чертежи – фасадов, поэтажные планы, схемы в поперечном и продольном разрезах (детальные создаются только для сложных узлов).
        h3 3PL провайдер. Склады класса «А»
        p В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:
        blockquote В противном случае это может привести к невозможности правильного выполнения каких-то процессов, а корректировка обойдется довольно дорого. Проектирование производственных зданий выполняется на основе уже работающей схемы. Исполнитель обязан принимать во внимание такие особенности:
    include components/advantages/advantages
