include layout/utils
include features/popup/popup

+popup('thx-popup', 'thx-popup')
    .thx-popup__title Заявка успешно отправлена
    .thx-popup__text Наш специалист перезвонит вам в самое ближайшее время
