include layout/utils

+section({container: false}).about-block.section__trigger
    .line--dashed
    .about-block__title-wrapper.section__title-wrapper.container
        h2.about-block__title.section__title о компании
        .about-block__subtitle.section__subtitle 3PL провайдер. Склады класса «А», международные перевозки, таможенное оформление
    .about-block__description-wrapper.container.animated-content
        +anchor.about-block__button.button.button--arrow.button--fill О компании
        .about-block__description.content
            p В портфеле наших услуг также:
            ul
                li открытие юр. лица в Казахстане;
                li юридическое сопровождение;
                li подбор персонала от топ-менеджмента до менеджеров среднего звена;
                li бухгалтерское сопровождение.
    .about-block__numbers
        .about-block__numbers-item
            span(data-to='3') 3
            .about-block__numbers-text критичных коридора для санкционных грузов
            .about-block__numbers-decor
        .about-block__numbers-item
            span.plus(data-to='30') 30
            .about-block__numbers-text успешных перевохок по всем видам маршрута
            .about-block__numbers-decor
        .about-block__numbers-item
            span(data-to='4') 4
            .about-block__numbers-text направления логистики в одном контракте
            .about-block__numbers-decor
    .about-block__decor.container
        .about-block__decor-inner
