@use 'styles/utils';

.cases {
    margin-top: 75px;
    padding-bottom: 160px;
    border-top: 1px solid var(--base120);

    &__list {
        position: relative;
        padding-left: 405px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__item {
        a {
            gap: 178px;
            padding: 20px 0;
            display: flex;
            border-bottom: 1px solid var(--base120);

            &:hover {
                color: var(--main100);
                border-bottom-color: var(--base100);
            }
        }

        &:has(a:hover) {
            .cases__item-number {
                color: var(--base100);
            }
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 60px;
            opacity: 0;
            visibility: hidden;
            transition:
                visibility 300ms linear,
                opacity 300ms linear;

            &._visible {
                opacity: 1;
                visibility: visible;
                transition:
                    visibility 300ms linear,
                    opacity 300ms linear;
            }
        }

        &-from {
            position: absolute;
            top: 0;
            left: 30px;
        }

        &-to {
            position: absolute;
            right: 30px;
            bottom: 0;
        }

        &-image {
            object-fit: contain;
            object-position: center;
            inset: 0;
            position: absolute;
            width: 100%;

            &-wrapper {
                position: relative;
                margin-bottom: 50px;
                width: 280px;
                height: 280px;
            }
        }

        &-text {
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            align-items: center;
        }

        &-icon {
            margin-right: 10px;
            padding: 10px;
            width: 34px;
            height: 34px;
            background-color: var(--main108);
            border-radius: 5px;
        }

        &-number {
            color: var(--base120);
        }

        &-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &-type {
            color: var(--base120);
        }
    }

    &__button {
        margin-top: 60px;
        margin-left: 405px;
    }

    &-page {
        padding-top: 80px;
        background-color: var(--bg-light);

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .projects:has(.cases) {
        padding-top: 80px;

        .projects__title {
            margin-bottom: 20px;
            justify-content: center;
        }

        .projects__subtitle {
            text-align: center;
        }
    }

    .cases {
        margin-top: 30px;
        padding-bottom: 80px;

        &__list {
            padding: 0;
        }

        &__button {
            margin-top: 30px;
            margin-left: 0;
            justify-content: center;
        }

        &__item {
            position: relative;
            a {
                gap: 10px;
                padding: 15px 0;
            }

            &:has(.cases__item-content._visible) {
                a {
                    border-bottom: none;
                }
            }

            &-title {
                gap: 5px;
                width: 100%;
                max-width: 240px;
                flex-direction: column;
            }

            &-image-wrapper {
                margin-top: 0;
                margin-bottom: 20px;
                width: 240px;
                height: 200px;
            }

            &-icon {
                padding: 9px;
                width: 28px;
                height: 28px;
            }

            &-arrow {
                position: absolute;
                top: 15px;
                right: 0;
                min-width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--main105);

                &::after {
                    content: '';
                    width: 10px;
                    height: 10px;
                    @include utils.bg-defaults(auto);
                    filter: var(--filter-main100);
                    background-image: url('assets/icons/arrow.svg');
                }
            }

            &-content {
                position: static;
                margin: 0;
                height: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: hidden;

                &._visible {
                    margin-top: 25px;
                    padding-bottom: 15px;
                    height: fit-content;
                    border-bottom: 1px solid var(--base100);
                }
            }
        }

        &-page {
            padding-top: 40px;
            &__header {
                gap: 5px;
                flex-direction: column;
            }
            .tabs {
                display: none;
            }

            .selector._mobile {
                display: flex;
            }
        }
    }
}
