@use 'styles/utils';

.faq {
    margin-bottom: 160px;

    &__title {
        &-wrapper {
            margin-bottom: 75px;
        }
    }

    &__subtitle {
        padding-right: 25%;
        width: 100%;
    }

    &__body {
        display: flex;
        align-items: start;
    }

    &__image {
        object-position: center;
        object-fit: cover;
        width: 100%;
        max-width: 365px;
        height: 540px;
    }

    &__list {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        padding: 25px 0;
        border-top: 1px solid hsl(0, 33%, 2%, 10%);

        &:last-child {
            border-bottom: 1px solid hsl(0, 33%, 2%, 10%);
        }

        &-q {
            gap: 20px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            align-items: center;
            font: var(--text-base200);
            cursor: pointer;
        }

        &-icon {
            @include utils.square(32px);
            min-width: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            border: 1px solid var(--main110);

            &::after {
                content: '';
                @include utils.bg-defaults(contain);
                @include utils.square(10px);
                filter: var(--filter-main100);
                background-image: url('assets/icons/plus.svg');
            }
        }

        &-a {
            padding-left: 52px;
            width: 100%;
            max-width: 1000px;
            height: 0;
            overflow: hidden;
            color: var(--base160);
            opacity: 0;
            visibility: hidden;
        }

        &._opened {
            .faq__item-a {
                margin-top: 20px;
                height: fit-content;
                opacity: 1;
                visibility: visible;
            }

            .faq-icon {
                border-color: var(--main150);

                &::after {
                    content: '-';
                    color: var(--main100);
                    background-image: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .faq {
        margin-bottom: 80px;
        &__title {
            justify-content: center;

            &-wrapper {
                margin-bottom: 30px;
            }
        }

        &__subtitle {
            margin-top: 20px;
            padding: 0;
            text-align: center;
        }

        &__image {
            display: none;
        }

        &__list {
            margin: 0;
        }

        &__item {
            padding: 15px 0;

            &-a {
                padding-left: 0;
            }

            &._opened {
                .faq__item-a {
                    margin-top: 15px;
                }
            }
        }
    }
}
