include layout/utils

+section.video-block
    .video-block__wrapper
        h2.section__subtitle.video-block__title Склады компании в Алмате
        button.video-block__play-button Смотреть видео
            .video-block__play-button-icon
    video.video-block__video
        source(src='assets/video/1.webm', type='video/webm')
        source(src='assets/video/1.mp4', type='video/mp4')
        p Ваш браузер не поддерживает встроенные видео :(
