@use 'styles/utils';

.content {
    p {
        margin-bottom: 20px;

        &:has(+ ul),
        &:has(+ ol) {
            margin-bottom: 15px;
        }
    }

    li {
        gap: 10px;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            @include utils.square(8px);
            transform: rotate(45deg);
            min-width: 8px;
            background-color: var(--main100);
        }
    }

    ul,
    ol {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .content {
        p {
            margin-bottom: 15px;

            &:has(+ ul),
            &:has(+ ol) {
                margin-bottom: 12px;
            }
        }

        li {
            gap: 8px;
        }

        ol,
        ul {
            gap: 8px;
        }
    }
}
