include layout/utils
-
    var advantages = [
        {
            icon: require('assets/icons/advantages/1.svg'),
            text: 'Полный комплекс  логистических услуг'
        },{
            icon: require('assets/icons/advantages/2.svg'),
            text: 'Финансовая гибкость  для клиентов'
        },{
            icon: require('assets/icons/advantages/3.svg'),
            text: 'Команда экспертов, которая говорит с вами на одном языке'
        },{
            icon: require('assets/icons/advantages/4.svg'),
            text: 'Cклады класса «А» в Алматы и Астане'
        },
    ]

+section({container:false}).advantages
    picture
        source(srcset=require('assets/icons/bg-circle_mobile.svg'), media='(max-width: 1000px)')
        +img(require('assets/icons/bg-circle.svg')).advantages__bg
    .container
        .advantages__title.section__title Наши преимущества
        .advantages__subtitle.section__subtitle!= 'Надёжность — не обещание. <br>Это правило нашей работы'
        .advantages__text Вы можете на нас положиться, потому что за каждым решением стоит команда экспертов, для которой надёжность — не опция, а стандарт
        ul.advantages__list
            each item in advantages
                li.advantages__item
                    .advantages__item-icon-wrapper
                        +img(item.icon).advantages__item-icon
                    .advantages__item-text= item.text
