include layout/utils

.cookie
    .cookie__title Cookies
    .cookie__text
        p Продолжая просмотр сайта, вы соглашаетесь на обработку персональных данных в соответствии с
            +anchor политикой конфиденциальности
    button.button.cookie__button.button--fill Согласен
