extends layout/page
include layout/utils
include ui/breadcrumbs/breadcrumbs
include ui/tabs/tabs
include ui/selector/selector

block append main
    +section.page__inner
        +breadcrumbs(['Главная','Кейсы'])
        .page__title Кейсы
    +section.cases-page.section__trigger
        .cases-page__header
            +tabs(['Все','Объекты','Услуги'])
            +selector(['Все','Объекты','Услуги']).blog__selector._mobile
            +selector(['Сначала новые', 'Сначала старые']).blog__selector
        include components/cases/cases
