extends layout/page
include layout/utils

block append main
    include components/main-hero/main-hero
    include components/about-block/about-block
    include components/map/map
    include components/advantages/advantages
    include components/video-block/video-block
    +section.projects.section__trigger
        .section__title-wrapper.projects__title-wrapper
            .section__title.projects__title Реализованные проекты
            .section__subtitle.projects__subtitle Кейсы логистических решений для бизнеса любого масштаба
        include components/cases/cases
