include layout/utils

mixin selector(props)
    .selector&attributes(attributes)
        span.selector__selected
        .selector-list
            each item in props
                .selector-item= item
