include layout/utils

+section({container:false}).map
    .map__title-wrapper.section__title-wrapper.container
        .map__title.section__title география по миру
        .map__subtitle.section__subtitle Мы выстраиваем надёжные логистические цепочки, соединяя Россию с миром через Казахстан
