@use 'styles/utils';

.map {
    position: relative;
    height: 1064px;
    overflow: hidden;
    background-color: var(--bg-light);

    &__title-wrapper {
        position: absolute;
        z-index: 1;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 25px;
        width: 100%;
        justify-content: start;
        border-top: 1px dashed var(--base120);
    }

    &__subtitle {
        width: 100%;
        max-width: 868px;
    }

    &__control {
        display: none;
    }

    &__svg {
        margin-top: 245px;
        width: 100%;
        height: 825px;

        &-mobile {
            display: none;
        }
    }

    &__scale {
        display: none;
    }

    .dashed-lines {
        stroke: var(--main100);
        stroke-width: 1.5;
        stroke-dasharray: 4 4;
        filter: drop-shadow(4px 4px 4px var(--main100));
        animation: moveDashed 1.5s linear infinite;
    }
}

@media only screen and (max-width: 1000px) {
    .map {
        height: 643px;

        &__title {
            margin-bottom: 20px;
            justify-content: center;
            &-wrapper {
                position: static;
                transform: none;
                margin-top: 80px;
                padding-top: 15px;
            }
        }

        &__subtitle {
            text-align: center;
        }

        &__svg {
            display: none;

            &-mobile {
                margin-top: 48px;
                width: 100%;
                height: 100%;
                max-height: 268px;
                display: block;
                overflow: scroll;

                svg {
                    transform-origin: 0 0;
                    transition: transform 300ms linear;
                }
            }
        }

        &__scale {
            gap: 5px;
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;

            &-plus,
            &-minus {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--main100);
                font-size: 20px;
                background-color: white;
                border-radius: 2px;
                border: 1px solid var(--main110);
            }
        }

        .dashed-lines {
            stroke-width: 0.8;
        }
    }
}

@keyframes moveDashed {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -8;
    }
}
