@use 'styles/utils';

.slider {
    padding: 160px 0;
    background-color: var(--bg-light);

    &.gallery {
        background-color: white;

        .swiper {
            padding: 20px 0;
            &-slide {
                padding: 0;
                border: none;
            }
        }

        .slider__aside {
            margin-right: 20px;
            border-right: 1px dashed hsl(0, 33%, 2%, 20%);
        }

        .slider__slide {
            padding: 0;
            height: 400px;
        }

        .slider__slide-image {
            margin: 0;
            height: 100%;
        }
    }

    &__body {
        position: relative;
        margin-top: 45px;
        display: flex;
        border-top: 1px solid hsl(0, 33%, 2%, 60%);
        border-bottom: 1px solid hsl(0, 33%, 2%, 60%);
    }

    &__aside {
        padding: 20px 0;
        width: 100%;
        max-width: 400px;
    }

    &__text {
        width: 100%;
        max-width: 301px;
    }

    .swiper {
        width: 1200px;

        &-slide {
            padding: 20px 0 20px 20px;
            border-left: 1px dashed hsl(0, 33%, 2%, 20%);
        }
    }

    &__slide {
        padding: 15px 15px 29px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 5px;

        &-img {
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        &-number {
            align-self: end;
            opacity: 0.45;
        }

        &-icon {
            object-position: center;
            object-fit: contain;
            width: 160px;
            max-height: 104px;
        }

        &-name {
            font: var(--text-base200);
        }
    }

    &__tab-list {
        gap: 11px;
        display: flex;
        flex-direction: column;
        color: var(--base140);
        font: var(--text-base200);
    }

    &__tab-item {
        position: relative;
        transition: transform 300ms linear;

        &._active {
            transform: translateX(19px);
            color: var(--base100);
            transition: transform 300ms linear;

            &::before {
                transform: translate(-19px, -50%);
                opacity: 1;
                visibility: visible;
                transition: transform 300ms linear;
            }
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            @include utils.square(12px);
            @include utils.bg-defaults(contain);
            filter: var(--filter-main100);
            top: 50%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            background-image: url('assets/icons/double-arrow.svg');
            transition: transform 300ms linear;
        }
    }

    &__nav {
        position: absolute;
        bottom: 20px;
        left: 0;
        padding: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 2px;

        &-prev {
            transform: rotate(180deg);
        }

        &-prev,
        &-next {
            @include utils.square(53px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--bg-light);
            border-radius: 2px;

            &::after {
                content: '';
                @include utils.bg-defaults(auto);
                background-image: url('assets/icons/double-arrow.svg');
                @include utils.square(14px);
                filter: var(--filter-black);
            }

            &:hover {
                &::after {
                    filter: var(--filter-main100);
                }
            }
        }
    }

    &__pag {
        margin: 0 24px;
        width: fit-content;
    }

    .selector {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .slider {
        padding: 80px 0;

        &.gallery {
            .slider__slide {
                height: 190px;
            }

            .slider__nav-prev,
            .slider__nav-next {
                background-color: var(--bg-light);
            }
        }

        &__title {
            text-align: center;
        }

        &__body {
            margin-top: 15px;
            width: 100%;
            display: block;
            border: none;
        }

        &__aside {
            margin-bottom: 30px;
            padding: 0;
        }

        &__text {
            text-align: center;
        }

        .swiper {
            width: 100%;
            border-top: 1px solid hsl(0, 33%, 2%, 60%);
            border-bottom: 1px solid hsl(0, 33%, 2%, 60%);

            &-slide {
                padding: 10px 0 10px 10px;
            }

            &-pagination-bullet {
                transform: rotate(45deg);
                opacity: 1;
                background: var(--base120);
                border-radius: 0;

                &-active {
                    background: var(--main100);
                }
            }
        }

        &__slide {
            padding: 10px 10px 29px;
            height: 320px;

            &-icon {
                max-width: 120px;
            }

            &-name {
                font: var(--text-base300);
            }
        }

        &__nav {
            position: static;
            margin-top: 25px;
            padding: 0;
            background-color: transparent;

            &-prev,
            &-next {
                min-width: 44px;
                @include utils.square(44px);
                background-color: white;
            }
        }

        &__pag {
            margin: 0;
            width: fit-content;
            text-align: center;
        }

        &__tab-list {
            display: none;
        }

        .selector {
            display: flex;
        }

        .swiper {
            overflow: visible;
            &-slide {
                &-active {
                    padding-left: 0;
                    border-left: none;
                }
            }
        }
    }
}
