:root {
    --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    --header-height: 0px;
    --container-width: 1600px;
    --manrope-med: 'Manrope-Medium';
    --manrope-reg: 'Manrope-Regular';
    --decor-margin: 25px;

    // TYPOGRAPHY
    --font-header100: 8rem/1 var(--manrope-med);
    --font-header200: 4.4rem/1.1 var(--manrope-med);
    --font-header300: 3.2rem/1.1 var(--manrope-med);
    --font-header400: 2.4rem/1.1 var(--manrope-med);

    --big-text: 12rem/1.3 var(--manrope-med);

    --text-base100: 2.4rem/1.3 var(--manrope-med);
    --text-base200: 2rem/1.3 var(--manrope-med);
    --text-base300: 1.8rem/1.3 var(--manrope-med);
    --text-base400: 1.6rem/1.3 var(--manrope-med);
    --text-base500: 1.4rem/1.3 var(--manrope-med);
    --text-base500_reg: 1.4rem/1.3 var(--manrope-reg);

    // COLORS
    --white: hsl(0, 0%, 100%);
    --main100: hsl(2, 66%, 29%);
    --main190: hsl(2, 48%, 36%);
    --main150: hsl(1, 27%, 65%);
    --main125: hsl(2, 27%, 82%);
    --main110: hsl(0, 28%, 93%);
    --main108: hsl(0, 24%, 94%);
    --main105: hsl(0, 22%, 96%);
    --main104: hsl(0, 29%, 97%);

    --bg-light: hsl(0, 0%, 96%);
    --bg-dark: hsl(240, 4%, 10%);
    --bg-light-dark: hsl(240, 2%, 19%);
    --plate: hsl(0, 0%, 91%);

    --base100: hsl(0, 33%, 2%);
    --base180: hsl(0, 3%, 22%);
    --base160: hsl(20, 1%, 41%);
    --base140: hsl(0, 1%, 61%);
    --base120: hsl(0, 1%, 81%);

    --stroke: hsl(240, 1%, 28%);

    //FILTERS
    --filter-main100: brightness(0) saturate(100%) invert(18%) sepia(16%) saturate(5286%) hue-rotate(331deg)
        brightness(103%) contrast(107%);

    --filter-base100: brightness(0) saturate(100%) invert(2%) sepia(3%) saturate(6685%) hue-rotate(314deg)
        brightness(103%) contrast(100%);

    --filter-main150: brightness(0) saturate(100%) invert(67%) sepia(21%) saturate(506%) hue-rotate(314deg)
        brightness(89%) contrast(79%);

    --filter-white: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7478%) hue-rotate(172deg)
        brightness(105%) contrast(100%);
    --filter-black: brightness(0) saturate(100%) invert(3%) sepia(34%) saturate(520%) hue-rotate(315deg) brightness(96%)
        contrast(101%);

    @media only screen and (max-width: 1000px) {
        --container-width: 300px;

        --font-header100: 2.6rem/1 var(--manrope-med);
        --font-header200: 2.4rem/1.1 var(--manrope-med);
        --font-header300: 2.2rem/1.1 var(--manrope-med);
        --font-header400: 1.8rem/1.1 var(--manrope-med);

        --big-text: 6rem/1.3 var(--manrope-med);

        --text-base300: 1.6rem/1.3 var(--manrope-med);
        --text-base400: 1.4rem/1.3 var(--manrope-med);
        --text-base500: 1.2rem/1.3 var(--manrope-med);
        --text-base500_reg: 1.2rem/1.3 var(--manrope-reg);
    }
}
