@use 'styles/utils';

.error {
    padding-top: var(--header-height);
    width: 100svw;
    height: calc(100svh + var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        aspect-ratio: 1;
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px dashed var(--main125);
    }

    &__title {
        margin-bottom: 40px;
        color: var(--main100);
        font: var(--big-text);
    }

    &__subtitle {
        margin-bottom: 15px;
        font: var(--font-header400);
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 30px;
        width: 100%;
        max-width: 500px;
        color: var(--base160);
        text-align: center;
    }

    &__button {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .error {
        .container {
            min-width: 440px;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__subtitle,
        &__text {
            margin-bottom: 14px;
            max-width: 300px;
            text-align: center;
        }

        &__text {
            margin-bottom: 25px;
        }
    }
}
